/* Header */
header {
  background-color: none;
  position: absolute;
  width: 100%;
}

.clasaLogo {
  background-color: none!important;
}
.clasaNavigatie {

  background-size: cover;
  color: white;
}

.banner-area {
  background: url('https://images.pexels.com/photos/270756/pexels-photo-270756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center;
  background-size: cover;
}
#dimBanner {
  height: 700px;
}

ul li {
  padding: 0px 40px 0 40px;
}
.alignBannerText {
  text-align: center!important;
}
.overlay-img {
	background: rgba(0, 145, 255,0.82);
}

.posContCards {
	margin-top: -40px;
}

	