/* Header */
header {
  background-color: blue;
}

.clasaLogo {
  background-color: orange;
}
.clasaNavigatie {
  background-color: green!important;
  background-size: cover;
}

.banner-area {
  background: url('https://images.pexels.com/photos/270756/pexels-photo-270756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center;
  background-size: cover;
  position: relative;
  height: 900px;
}
