html {
  scroll-behavior: smooth;
}
/* Header */
header {
  background-color: none;
  position: fixed;
  width: 100%;
  z-index: 10;
}
#zonaLogo a {
  font-family: 'Major Mono Display', monospace;
  font-size: 35px;
  margin: 15px 0px 0px 0px;
  color: white!important;
  font-weight: bold;
}
.clasaNavigatie {
  background-size: cover;
  color: white;
}
#navbarNavDropdown ul li> a {
  color: #FFFFFF;
}
.behavior-header {
  background: rgba(0,0,0,0.7);
  transition: all 0.5s;
}
#hamburgerButton {
  border: 1.5px solid rgb(255, 255, 255, 0.6);
  background-color: #008BC0;
}

/* banner area*/
.banner-area {
  background: url('https://images.pexels.com/photos/270756/pexels-photo-270756.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260') center;
  background-size: cover;
}

#dimBanner {
  height: 500px;
}
ul li {
  padding: 0px 20px 0 20px;
}
.zoneBanner {
  text-align: center!important;
  font-family: 'ABeeZee', sans-serif;
  margin-top: 130px;
}
.overlay-img {
	background: rgba(0, 145, 255,0.85);
}
.posContCards {
	margin-top: 20px;
}

/*presentation area*/
.zonaPrezentare2 {
  margin-top: 30px;
}
#MTB {
  display: none;
}
#Hike {
  display: none;
}


/*Image slides*/

.containerMTB {
width: 540px;
margin: 40px auto;
overflow: auto;
}
.slider-inner {
width: 500px;
height: 300px;
position: relative;
overflow: hidden ;
float: left;
padding: 3px;

}
.slider-inner img {
display: none;
width: 500px;
height: 300px;
}
.slider-inner img.active {
  display: inline-block;
}
.prev, .next {
  float: left;
  margin-top: 130px;
  cursor: pointer;
}
.prev {
  position: relative;
  margin-right: -45px;
  z-index: 100;
}
.next {
  position: relative;
  margin-left: -45px;
  z-index: 100;
}





/* Contact me */
#contactdan {
  margin-top: 40px;
}

/* Footer */
footer {
  background: #F1F1F1;
}


/* Button Top */
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
/* Button Top */

/*ecran mai mic de 600px*/
@media only screen and (min-width: 900px) {
  .containerMTB {
  width: 740px;
  margin: 40px auto;
  overflow: auto;
  }
  .slider-inner {
  width: 700px;
  height: 400px;
  position: relative;
  overflow: hidden ;
  float: left;
  padding: 3px;
  }
  .slider-inner img {
  display: none;
  width: 700px;
  height: 400px;
  }
  .slider-inner img.active {
    display: inline-block;
  }
  .prev, .next {
    float: left;
    margin-top: 180px;
    cursor: pointer;
  }
  .prev {
    position: relative;
    margin-right: -45px;
    z-index: 100;
  }
  .next {
    position: relative;
    margin-left: -45px;
    z-index: 100;
  }
}
